<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,248}}</string>
                <key>sourceSize</key>
                <string>{507,248}</string>
            </dict>
            <key>background_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{507,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,65}}</string>
                <key>sourceSize</key>
                <string>{507,65}</string>
            </dict>
            <key>background_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{304,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,180}}</string>
                <key>sourceSize</key>
                <string>{304,180}</string>
            </dict>
            <key>background_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,69},{192,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,105}}</string>
                <key>sourceSize</key>
                <string>{192,105}</string>
            </dict>
            <key>background_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,964},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>background_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,263},{131,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,9}}</string>
                <key>sourceSize</key>
                <string>{131,9}</string>
            </dict>
            <key>background_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,263},{124,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,9}}</string>
                <key>sourceSize</key>
                <string>{124,9}</string>
            </dict>
            <key>item_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,969},{51,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,132}}</string>
                <key>sourceSize</key>
                <string>{51,132}</string>
            </dict>
            <key>item_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,840},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>item_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,706},{120,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{120,132}</string>
            </dict>
            <key>item_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,706},{75,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,132}}</string>
                <key>sourceSize</key>
                <string>{75,132}</string>
            </dict>
            <key>item_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,706},{120,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,261}}</string>
                <key>sourceSize</key>
                <string>{120,261}</string>
            </dict>
            <key>item_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,247},{99,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,394}}</string>
                <key>sourceSize</key>
                <string>{99,394}</string>
            </dict>
            <key>item_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,310},{87,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,394}}</string>
                <key>sourceSize</key>
                <string>{87,394}</string>
            </dict>
            <key>item_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,158},{87,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,395}}</string>
                <key>sourceSize</key>
                <string>{87,395}</string>
            </dict>
            <key>item_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,69},{87,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,397}}</string>
                <key>sourceSize</key>
                <string>{87,397}</string>
            </dict>
            <key>ship_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,964},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>ship_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,252},{181,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,169}}</string>
                <key>sourceSize</key>
                <string>{181,169}</string>
            </dict>
            <key>ship_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,706},{38,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,116}}</string>
                <key>sourceSize</key>
                <string>{38,116}</string>
            </dict>
            <key>ship_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,263},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>ship_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,840},{122,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,66}}</string>
                <key>sourceSize</key>
                <string>{122,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BGP_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b65aef9b55710df257b9a7368ec2c8ee:0c812b2e3c0788f9bed346b07e580195:d5212863b217ea31f0afc2dae63535f8$</string>
            <key>textureFileName</key>
            <string>BGP_1.png</string>
        </dict>
    </dict>
</plist>
